.gitbook-link {
    display: none !important;
}

.gb-page-header .container .logo h1 {
    font-size: 14px ;
    line-height: 14px;
}
.gb-page-header .container .logo h6 {
    margin-top: 6px;
    margin-bottom: 0px;
    margin-right: 6px;
    display: inline-block;
}

.gb-markdown table td, .gb-markdown table th {
    padding: 6px 6px;
}

section  {
    width:100%;
}
h1 {
  color: #2674BA;
}
h2 {
  color: #0099CC;
}
h3 {
  color: #F77A0B;
}
h4 {
  color: #662D91;
}
h5 {
  color: #444444;
}
th {
  background-color: #2674BA;
  color: white;
}

img[alt="i4-1_2"] { 
  max-width:  200px; 
  display: block;
}

img[alt="i7"] { 
  max-width:  300px; 
  display: block;
}